@font-face {
  font-family: BebasNeue-Regular;
  src: url('../fonts/BebasNeue-Regular.ttf');
}

.header {
  grid-column: 1 / span 2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: linear-gradient(135deg, black, #FF5D73);
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  font-family: BebasNeue-Regular;
  letter-spacing: 6px;
  color: #FFFFFF;
}